<%= @score.inspect %>
<html>
<head>
    <title>LEAST COUNT</title>
</head>
<body onload="load()" background="http://www.recapo.com/wp-content/uploads/2013/01/cards.jpg">
<p> Name: <%= @score.name %></p>
<p> Points:<%= @score.points %></p>
</body>
</html>

